.hero-section-container {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  justify-content: space-between;
  overflow-x: hidden;
}
.landing-page-container {
  padding-top: 8em;
}
.left-side-hero {
  width: 50%;
  padding-left: 80px;
}
.right-side-containe {
  width: 50%;
  margin-right: -50px;
}
.main-hero-head {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  color: #282828;
}
.main-hero-head span {
  color: #0066f5;
}
.head-line-box {
  width: 90%;
}
.hero-simple {
  font-size: 17px;
  margin: 20px 0;
  color: #686868;
}
.app-badge-box img {
  width: 90%;
  height: 80px;
  cursor: pointer;
}
.app-badge-box {
  display: flex;
  gap: 20px;
  margin-top: 80px;
}
.right-side-containe img {
  width: 80%;
}
.terms-privacy-container {
  border-radius: 10px;
  background: #fff;
  width: 60%;
}
.land-lay {
  background: rgba(66, 66, 66, 0.242);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 111115;
  justify-content: center;
}
.top-box-cont {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding: 5px 0;
}
.main-txt-ed {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0;
}
.main-content-bx {
  padding: 20px;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: normal;
  border: none;
  border-radius: 20px;
  margin-right: 5px;
}
.main-content-bx::-webkit-scrollbar {
  width: 0.5vw;
  background: #0066f5;
  border-radius: 20px;
}
.main-content-bx::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #0066f5;
}
.main-bdy-txt {
  font-size: 14px;
}
.main-bdy-txt a {
  color: #0066f5;
}
.main-bdy-txt li {
  list-style: disc;
}
.close-bbtn {
  width: 100px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: #0066f5;
  font-size: 14px;
  height: 35px;
  color: #fff;
}
.close-bbtn:hover {
  background: #fff;
  border: 1px solid #0066f5;
  color: #0066f5;
}
.rght {
  justify-content: right;
  padding: 10px 20px;
  gap: 30px;
}
.weinfo li {
  list-style-type: square;
}
@media only screen and (max-width: 1150px) {
  .head-line-box {
    width: 85%;
  }
  .main-hero-head {
    font-size: 38px;
    line-height: 35px;
  }
  .app-badge-box img {
    width: 50%;
    height: 50px;
  }
  .right-side-containe {
    width: 45%;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 940px) {
  .head-line-box {
    width: 100%;
  }
  .main-hero-head {
    font-size: 34px;
    line-height: 40px;
  }
  .app-badge-box {
    gap: 10px;
    margin-top: 50px;
  }
  .hero-simple {
    font-size: 14px;
  }
  .terms-privacy-container {
    width: 80%;
  }
}
@media only screen and (max-width: 750px) {
  .main-hero-head {
    font-size: 34px;
    line-height: 40px;
  }
  .app-badge-box {
    gap: 10px;
    margin-top: 50px;
  }
  .hero-simple {
    font-size: 14px;
  }
  .left-side-hero {
    padding-left: 20px;
  }

  .hero-section-container {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 655px) {
  .main-hero-head {
    font-size: 25px;
    line-height: 30px;
  }
  .app-badge-box {
    gap: 10px;
    margin-top: 30px;
  }
  .hero-simple {
    font-size: 12px;
    margin: 5px 0;
  }
  .app-badge-box img {
    width: 50%;
    height: 30px;
  }
  .terms-privacy-container {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  .main-hero-head {
    font-size: 18px;
    line-height: 25px;
  }
  .app-badge-box {
    gap: 5px;
    margin-top: 20px;
  }
  .hero-simple {
    font-size: 13px;
  }
  .app-badge-box img {
    width: 45%;
  }
  .left-side-hero {
    padding-left: 0px;
  }

  .hero-section-container {
    padding-left: 25px;
  }
  .terms-privacy-container {
    width: 97%;
  }
}
@media only screen and (max-width: 370px) {
  .main-hero-head {
    font-size: 14px;
    line-height: 20px;
  }
  .hero-simple {
    font-size: 13px;
  }
  .app-badge-box {
    margin-top: 10px;
  }
  .app-badge-box img {
    width: 50%;
    height: 30px;
  }
}
